{% extends "base.html" %}

{% block content %}
    {% if search %}
    <h2 style="text-align: center;">{{ search | title }}</h2>
    {% else %}
    <h2>No search took place</h2>
    {% endif %}

    <div class="row">
        {% for post in final_postings %}
            <div class="col s4">
                <div class="card" style="height: 400px; overflow: hidden;">
                    <div class="card-image" style="height: 250px; overflow: hidden;">
                        <a href="{{post.1}}"><img src="{{post.3}}" alt=""></a>
                    </div>

                    <div class="card-content">
                        <p>{{post.0}}</p>
                    </div>

                    <div class="card-action">
                        <a href="{{post.1}}">View Price Listing : {{post.2}}</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock content %}
